@using BatteryShop_Web.Areas.UserPanel.Models.User;
@model EditPasswordViewModel
@{
    ViewData["title"] = "تغییر  رمز عبور";
    ViewData["selected"] = "posts";
}
<section class="content-header">
    <h1>
        @ViewData["title"]
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="UserPanel" asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">@ViewData["title"]</li>
    </ol>
</section>
<section class="content">
    <form class="box box-danger" method="post" asp-area="UserPanel" asp-controller="User" asp-action="ChangePassword" enctype="multipart/form-data">
        <div class="box-body row">
            <div class="col-md-6">
                @Html.EditorFor(m => m.Password)
            </div>
            <div class="col-md-6">
                @Html.EditorFor(m => m.NewPassword)
            </div>
            <div class="col-md-6">
                @Html.EditorFor(m => m.RepeatNewPassword)
            </div>
           
        </div>
        <div class="box-footer">
            <button class="btn btn-success" type="submit">ثبت اطلاعات</button>
        </div>
    </form>
</section>
