@using BatteryShop_Web.Areas.UserPanel.Models.Address;
@model AddAddressViewModel

@{
    ViewData["title"] = "افزودن آدرس";
    ViewData["selected"] = "category";
}
<section class="content-header">
    <h1>
        @ViewData["title"]
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="Userpanel" asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li><a asp-area="UserPanel" asp-controller="Address" asp-action="Index">مقالات</a></li>
        <li class="active">@ViewData["title"]</li>
    </ol>
</section>
<section class="content">
    <form class="box box-danger" method="post" asp-area="UserPanel" asp-controller="Address" asp-action="Add" enctype="multipart/form-data">
        <div class="box-body row">
            <div class="col-md-6">
                @Html.EditorFor(m => m.City)
            </div>
            <div class="col-md-6">
                @Html.EditorFor(m => m.Shire)
            </div>
            <div class="col-md-6">
                @Html.EditorFor(m => m.PostalCode)
            </div>
            <div class="col-md-6">
                @Html.EditorFor(m => m.ActiveAddress)
            </div>
            <div class="col-md-12">
                @Html.EditorFor(m => m.Address)
            </div>

            
        </div>
        <div class="box-footer">
            <button class="btn btn-success" type="submit">ثبت اطلاعات</button>
        </div>
    </form>
</section>
